[Desktop Entry]
Name=KDE-gaps
X-KDE-PluginInfo-Author=simonizor
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=KDE-gaps
X-KDE-PluginInfo-Version=1.0
