[Desktop Entry]
Comment=Arc Light Style

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Arc

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CCPL:by-sa
X-KDE-PluginInfo-Name=com.github.varlesh.arc
X-KDE-PluginInfo-Version=20220612
X-KDE-PluginInfo-Website=https://github.com/PapirusDevelopmentTeam/arc-kde
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1815459,kns://plasma-themes.knsrc/api.kde-look.org/1826017,kns://aurorae.knsrc/api.kde-look.org/1815456,kns://icons.knsrc/api.kde-look.org/1166289
