[Desktop Entry]
Type=Theme
Name=Papirus Dark Theme
Name[ru]=Тема «Papirus Dark»
Comment=«Papirus Dark» by Alexey Varfolomeev
Comment[ru]=Сделал Алексей Варфоломеев
