Source: arc-kde
Section: universe/kde
Priority: optional
Maintainer: Sergei Eremenko <finalitik@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4
Homepage: https://github.com/PapirusDevelopmentTeam/arc-kde

Package: arc-kde
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Recommends: qt5-style-kvantum, papirus-icon-theme
Provides: qt5-style-kvantum-theme
Description: Arc KDE
 This is a Arc KDE port of the popular GTK theme Arc for Plasma 5 desktop.
 .
 This package contains:
  - aurorae window decorations
  - color schemes
  - konsole color schemes
  - konversation themes
  - kvantum themes
  - look & feel settings
  - plasma desktop themes
  - wallpapers
  - yakuake skins
