[Desktop Entry]
Name=Arc Dark

X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Email=varlesh@gmail.com
X-KDE-PluginInfo-Name=Arc-Dark
X-KDE-PluginInfo-Version=20220908
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=CCPL:by-sa
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7
