[Desktop Entry]
Name=Arc Mountains
X-KDE-PluginInfo-Name=Arc-Mountains
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 4.0
